Repository lizongze/create-react-project: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --ext .ts, stylelint --syntax scss

docs: Update README.md
  README.md
Due: none

feat: webpack support HMR and fileSystem cache
  .babelrc
  README.md
  package.json
  scripts/webpack-resources.js
  tsconfig.json
  webpack.serve.config.js
  yarn.lock
Due: prettier --write

refactor: .
  src/main/app/App.tsx
  src/main/app/AppRouter.tsx
  src/main/app/index.tsx
  src/main/index.tsx
Due: prettier --write, eslint --ext .ts

feat: support css module and input open router api key for ChatAI Demo
  .lintstagedrc
  .prettierrc
  README.md
  package.json
  scripts/webpack-resources.js
  src/api/index.ts
  src/assets/index.html
  src/axios/openai/axiosWithMemoAi.ts
  src/axios/openai/index.ts
  src/axios/openai/instanceForChatAiWithMemo.ts
  src/axios/openai/interceptorForMemorize.ts
  src/axios/openai/request.d.ts
  src/axios/openai/response.d.ts
  src/constants/index.ts
  src/main/pages/home/ChatList.scss
  src/main/pages/home/ChatList.tsx
  src/main/pages/home/ChatListItem.scss
  src/main/pages/home/ChatListItem.tsx
  src/main/pages/home/Home.scss
  src/main/pages/home/Home.tsx
  src/main/pages/home/ModalInput.scss
  src/main/pages/home/ModalInput.tsx
  src/main/pages/home/TextBtn.scss
  src/main/pages/home/TextBtn.tsx
  src/main/pages/home/homeStore.ts
  tsconfig.json
  webpack.config.js
  webpack.serve.config.js
  yarn.lock
Due: prettier --write, stylelint --fix, eslint --ext .ts, stylelint --syntax scss

fix: change timeout from 5 into 15
  src/axios/openai/instanceForChatAiWithMemo.ts
  src/constants/index.ts
Due: prettier --write, eslint --ext .ts

Path conditions:
  prettier --write: (any of: ./src/**/*.{js,jsx,ts,tsx,json}) or (any of: ./*.{js,jsx,ts,tsx})
  stylelint --fix: any of: ./src/**/*.{css,sass,scss,less}
  eslint --ext .ts: any of: **/*.{ts,tsx}
  stylelint --syntax scss: any of: **/*.scss
